<div class="section">
  <h1>To use the Public GeyserConnect for your Nintendo Switch,</h1>
  <p>go to <code>Settings>Internet>Internet Settings>Your Wifi Connection>Change Settings>DNS Settings</code> to
    change the Primary DNS setting of your Switch to</p>

  <h3><span class="primary-dns"></span></h3>
  <img src="/images/screenshots/switch-dns.jpg" class="img-fluid" alt="Xbox DNS Screenshot" id="screenshot">

  <p>and your Secondary DNS as</p>
  <h3>your "Gateway IP", "8.8.8.8", or "1.1.1.1"</h3>
  <img src="/images/screenshots/switch-dns2.jpg" class="img-fluid" alt="Xbox DNS Screenshot 2" id="screenshot">

</div>