<div class="sections">
  <div class="section">
    <h1>
      {{error.status}}
    </h1>
    <h3>
      {{message}}
    </h3>
    <div class="section-left">
      <h4>More Information:</h4>
      <pre>
        {{error.stack}}
      </pre>
    </div>
  </div>
</div>