<div class="sections">
  <div id="what-is" class="section">
    <div class="content">
      <h1>
        What is the Public GeyserConnect?
      </h1>
      <p>
        <strong>
          The Public GeyserConnect allows Minecraft: Bedrock Edition players to connect to Minecraft: Java
          Edition servers.
        </strong>
        <br />
        <br />
        You can use the Public GeyserConnect with mobile devices, consoles, or
        Windows PCs to play with your friends.
        <br />
        This also gives console players the ability to have a custom
        server-list.
      </p>
    </div>
  </div>
  <div id="how-to" class="section">
    <h1>
      How do I use it?
    </h1>
    <p>
      You can connect to the Public GeyserConnect by following the guides:
    </p>
    <div class="guide-list">
      <h5>
        Simple Setup
      </h5>
      <div class="buttons">
        <!--Windows+Mobile Button-->
        <a href="/guide/windows&mobile" class="button">
          Windows and Mobile Devices
        </a>
        <!--Friend's List Button-->
        <a href="/guide/friendslist" class="button">
          Consoles: Add us as a friend to join!
        </a>
      </div>
      <hr />
      <h5>
        Advanced Console Setup
      </h5>
      <div class="buttons">
        <!--XboxButton-->
        <a href="/guide/xbox" class="button">
          Xbox Devices
        </a>
        <a href="/guide/switch" class="button">
          Nintendo Switch Devices
        </a>
        <a href="/guide/playstation" class="button">
          Playstation Devices
        </a>
      </div>
    </div>
  </div>
  <div class="section">
    <h1>
      Wanna Experiment?
    </h1>
    <p>
      We also host an experimental instance of GeyserConnect. It has a different configuration with features enabled
      such as building above the nether bedrock layer. It may also get testing versions of GeyserConnect to test new
      features. You can access it with the IP
      <code>
        beta.geyserconnect.net
      </code>
      , which is hosted in the U.S.
    </p>
  </div>
  <div class="section">
    <h1>
      Outdated Server?
    </h1>
    <p>
      We have a means to help you with this error! Be warned though, it is tricky to use.
    </p>
    <a href="/guide/outdated-server" class="button">
      VIA As A Service
    </a>
  </div>
  <div class="section">
    <h1>
      Other Links:
    </h1>
    <div class="buttons">
      <a href="/info/faq" class="button">
        Questions/Problems and Answers
      </a>
      <a href="/info/featured" class="button">
        Featured Servers in the Public GeyserConnect
      </a>
      <a href="https://minetrack.geyserconnect.net/" target="_blank" class="button">
        Our Public Server Tracker
      </a>
      <a href="https://mcservers.top/bedrockandjavacrossplay/" target="_blank" class="button">
        Find Cross Platform Servers
      </a>
      <a href="/info/staff" class="button">
        Our List of Staff
      </a>
    </div>
  </div>
</div>