<div class="table">
  <table>
    <thead>
      <tr>
        <th>Server Name</th>
        <th>Java Edition Server</th>
        <th>Bedrock Edition Server</th>
        <th>Discord Server</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>GeyserMC Public Test Server</td>
        <td>test.geysermc.org</td>
        <td>test.geysermc.org</td>
        <td id="discord">
          <a href="https://discord.com/invite/geysermc">
            <img src="/images/Discord.svg" alt="Discord Logo" height="20em">
          </a>
        </td>
        <td>
          <a href="https://wiki.geysermc.org/other/test-server/">https://wiki.geysermc.org/other/test-server/</a>
        </td>
      </tr>
      <tr>
        <td>
          G.Reaper's MC Servers
        </td>
        <td>play.greaper88.net</td>
        <td>bedrock.greaper88.net:19172</td>
        <td id="discord">
          <a href="https://discord.com/invite/EcYjzeZ">
            <img src="/images/Discord.svg" alt="Discord Logo" height="20em">
          </a>
        </td>
        <td>
          <a href="https://www.greaper88.net">https://www.greaper88.net</a>
        </td>
      </tr>
      <tr>
        <td>Grimm's Dark Worlds</td>
        <td>darkworld.greaper88.net</td>
        <td>darkworld.greaper88.net:19162</td>
        <td id="discord">
          <a href="https://discord.com/invite/kRbvCdn">
            <img src="/images/Discord.svg" alt="Discord Logo" height="20em">
          </a>
        </td>
        <td>
          <a href="https://www.greaper88.net/java_outlaw">https://www.greaper88.net/java_outlaw</a>
        </td>
      </tr>
      <tr>
        <td>Easy SMP</td>
        <td>play.2v1.me</td>
        <td>play.2v1.me</td>
        <td id="discord">
          <a href="https://discord.com/invite/U36v7kYTDK">
            <img src="/images/Discord.svg" alt="Discord Logo" height="20em">
          </a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>United Factions</td>
        <td>play.unitedfactions.net</td>
        <td>play.unitedfactions.net</td>
        <td id="discord">
          <a href="https://discord.com/invite/TKU8uQU">
            <img src="/images/Discord.svg" alt="Discord Logo" height="20em">
          </a>
        </td>
        <td>
          <a href="https://www.unitedfactions.net">https://www.unitedfactions.net</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>